@import "../../css/colors.css";
@import "../../css/units.css";

.inline-message {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    background: white;
    border-radius: 12px;
    padding: 5px;
    padding-bottom: 24px;
    width: 100%;
    color: #f48a1f;
    height: 25px;

}

.success {
    margin-right: 63px;
}

.info {
    margin-right: 70px;
}

.warn {
    margin-right: 45px;
}

.spinner {
    display: none;
    margin-right: $space;
}